<h3>Add users to this room</h3>

<% remaining_users = User.where.not(id: @room.users.pluck(:id)) %>

<% if remaining_users.any? %>
  <%= form_with url: add_users_room_path(@room), method: :post do %>
    <% remaining_users.each do |user| %>
      <div>
        <%= check_box_tag "user_ids[]", user.id %>
        <%= user.email %>
      </div>
    <% end %>
    <%= submit_tag "Add Selected Users" %>
  <% end %>
<% else %>
  <p>All users are already in this room.</p>
<% end %>
